/*Estilo del contenedor*/

.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

/*Estilo del lado izquierdo*/
aside{
    padding: 1rem;
    position: fixed;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
}


.logo, .header_servicios{

    font-size: var(--h1-font-size);
    color: var(--tittle-color);
    text-align: center;
    /* margin-bottom: -3rem; */
    margin-top: 7.5rem;
    font-weight: 350px;
    /* font-size: 1.5rem; */
}

.menu{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}




/**********/
.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 0.4rem;
    font-size: 1rem;
    width: 112%; 
    align-content: center;
    /*justify-content: flex-start;
    margin-left: 15rem;
    text-decoration-line: var(--clr-main);*/
}

.boton-menu.active{

    background-color: var(--clr-main);
    color: var(--first-color);
    width: 112%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{

    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.9rem;
    box-shadow: 0 1rem 0 var(--clr-main);

}

.boton-menu.active::after{

    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 0.9rem;
    box-shadow: 0 -1rem 0 var(--clr-main);

}

/*Estilo del lado derecho*/

main{

    background-color: var(--clr-main);
    margin: 0 1rem;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-left: 0;
    position: relative;
    right: -15rem;
   /* top: -31px;
    width: auto;*/
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;
}

.titulo-principal{
    color: var(--tittle-color);
    margin-bottom: 2rem;

}



.producto-detalle{

    background-color: var( --container-color);
    color: var(--tittle-color);
    padding: .9rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -0.98rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}


.producto-titulo{
    font-size: 1rem;

}

.producto-agregar{
    border: 0;
    background-color: var(--clr-main);
    color: var(--text-color);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--container-color);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
   
    background-color: var(--first-color) ;
    color: var(--container-color);

}

/* * CARRITO * */


.contenedor-carrito-compras{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.aside_carrito{
    padding: 3rem;
    position: fixed;
    top: 21px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 100vw;--------------------------------------------------------------------------------------------- */
}

.aside_servicios{
    padding: 3rem;
    position: fixed;
    top: 21px;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.main_carrito{

    background-color: var(--clr-main);
    margin: 0 1rem;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: -10rem;
    position: relative;
    right: -15.5rem;
    /* top: -63px; */
    width: 87%;
    margin-top: -1rem;
    
}

/*.carrito-vacio,
.carrito-comprado{

    color: var(--text-color);
    display: none;
}*/

.carrito-productos{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background-color: var(--container-color);
    color: var(--tittle-color);
    padding: 1rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}


.carrito-producto-imagen{

    width:4rem;
    border-radius: 1rem;
}

.carrito-producto small{

    font-size: 0.75rem;
}

.carrito-producto-eliminar{

    border: 0px;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;

}

.carrito-acciones{

    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{

    border: 0px;
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--first-color);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{

    display: flex;
}

.carrito-acciones-total{

    display: flex;
    background-color: var(--container-color);
    padding: 1rem;
    border-top-left-radius:  1rem;
    border-bottom-left-radius: 1rem;
    color: var(--first-color);
    text-transform: uppercase;
    gap: 1rem;
    
}

.carrito-acciones-comprar{

    border: 0px;
    background-color: var(--first-color);
    padding: 1rem;
    color: var(--container-color);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius:  1rem;
    border-bottom-right-radius: 1rem;
}
.disabled{

    display: none;
}

.boton-carrito{
    margin-top: 2rem;

}

.numerito{

    background-color: var(--clr-main);
    color: var(--text-color);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{

    background-color: var(--text-color);
    color: var(--clr-main);
}

.header-medias_queries{
    display: none;
}

.close-menu-productos{
    display: none;
}

.producto:hover{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.producto{
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.producto-imagen{
    width: 100%;
    height: 200px;
    object-fit: cover;
    align-content: center;
}
.producto-detalle{
    background: transparent;
}

.contenedor-productos >.producto > .producto-imagen {
        
    border-radius: 1rem 0 0 1rem;
}

/**** Medias QUERIES ******/

@media screen and (min-width:908px) /* and (max-width: 1080px) */{

/* LE BORRO EL MAX-WIDTH Y LE AGREGO WIDTH AL BOTON MENU */
    .wrapper_derecho{
        width: 70vw;
        height: auto;
    }
    .producto-imagen {
        width: 100%;
    }
    .main_carrito {
        background-color: var(--clr-main);
        margin: 0 1rem;
        border-radius: 2rem;
        padding: 1.5rem;
        margin-left: -10.1rem;
        position: relative;
        /* right: -15.5rem; */
        /* top: -63px; */
        width: 89%;
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
        /* width: 98%; */
    }

    aside {
        padding: 1rem;
        position: fixed;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2rem;
    }
    .boton-menu{
        width: 500px;
    }
    /* SINO SE GENERABA UN ESPACIO ENTRE EL BOTON Y LA LISTA COMPRADA */

    
}

@media screen and (min-width: 767px) and (max-width: 908px) {
    aside {
        padding: 1rem;
        position: fixed;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10rem;
    }

    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }

    .aside_carrito{

        padding: 1rem;
        position: fixed;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10rem;

    }

    .main_carrito {
        background-color: var(--clr-main);
        margin: 0 1rem;
        border-radius: 2rem;
        padding: 1.5rem;
        margin-left: -11.1rem;
        position: relative;
        /* right: -15.5rem; */
        /* top: -63px; */
        width: 89%;
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    .carrito-producto {
        display: flex;
        justify-content: flex-start;
        gap: 2.5rem;
        background-color: var(--container-color);
        color: var(--tittle-color);
        padding: 1rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

}
@media screen /* and (min-width: 320px)  */and (max-width: 767px){
/* ----------------------------------SE BORRA LA MEDIDA MINIMA----------------------------------------------------------- */
/* -----------------------LE DOY UN WIDTH DE 80% AL CONTENEDOR CARRITO EN PANTALLAS CHICAS------------------------------- */

    .contenedor-carrito-compras{
        width: 80%;
    }

    .wrapper  {

        
        display: flex;
        
        flex-direction: column;
        min-height: 100vh;
    }

    .wrapper_carrito{

        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin-top: -3rem;

    }

    .titulo-principal {
        color: var(--tittle-color);
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: var(--p-font-size);
    }

    aside {
        z-index: 9;
        background-color: var(--container-color);
        justify-content: space-between;
        left: 0;
        box-shadow: 0 0 0 100vmax var(--clr-main_alt);
        /* display: none; */
        transform: translateX(-100%);
        opacity: 0px;
        visibility: hidden;
        height: 100vh;
        transition: .2s;
    }

    .aside {
        padding: 1rem;
        position: fixed;
        top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0rem;
        width: 100%;
    }

    .aside-visible{
        
        transform:translateX(0) ;
        opacity: 1;
        visibility: visible;
    }

        
    .aside_carrito {
        padding: 3rem;
        position: fixed;
        /* top: 21px; */
        height: 103vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: -2rem;
        width: 100vw;
    }

    .contenedor-productos{
        
        grid-template-columns: 1fr;
        
    }
    main {
        
        background-color: var(--clr-main);
        margin-top: 3rem;
        border-radius: 2rem;
        padding: 1.5rem;
        margin-left: 0;
        /* position: absolute; */
        margin-left: -13rem;
        display: flex;
        width: 84%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

   
    .producto-imagen {
        width: 258px;
        height: 253px;
        border-radius: 1rem 0 0 1rem;
    }

    .boton-menu.active::before,
    .boton-menu.active::after{

        display: none;
            
    }
   
    .boton-menu.active{
        width: 127%;
        height: 45px;
        /*background-color: var(--clr-main_alt);*/
    }

    
    .logo{

        font-size: var(--p-font-size);
    }
   

    .header-medias_queries{

        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 4rem;
        margin-left: 3rem;
        margin-top: -11rem;
        gap: 1rem;
       
        
    }

    .header-medias_queries-carrito{

        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 4rem;
        margin-left: 3rem;
        margin-top: -16rem;
    }

    .header-medias_queries, .header-medias_queries-carrito .logo{

        color: var(--tittle-color);
        height: var(--header-height);
        

    }

    .open-menu-productos, .close-menu-productos{

        background-color: transparent;
        color: var(--text-color);
        border: 0px;
        cursor: pointer;
        font-size: 2.5rem;
        
    }

    .close-menu-productos{
        margin-top: 2rem;
        display: block;
    }

    .carrito-producto {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        background-color: var(--container-color);
        color: var(--tittle-color);
        padding: 1rem;
        margin-right: 0;
        margin-left: 0;
        padding-right: 0.5rem;
        border-radius: 1rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
    }
    
    .main_carrito {
        background-color: var(--clr-main);
        margin: 0 1rem;
        border-radius: 2rem;
        padding: 2rem 1rem;
        margin-left: -15rem;
        position: relative;
        /* right: -15.5rem; */
        /* top: -63px; */
        width: 95%;
        margin-top: -29rem;
        display: flex;
        flex-direction: column;
    }

    .carrito-producto-subtotal{

       display: none;
    }
    
    
    .carrito-acciones{

        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .carrito-acciones-total > p{

        font-size: var(--p-font-size) ;

    }


    /*carrusel*/

    .wrapper_derecho_carrusel {
        background-color: var(--clr-main);
        /* margin: 0 1rem; */
        border-radius: 2rem;
        /* padding: 1.5rem; */
        margin-left: -26rem;
        /* position: relative; */
        /* right: -27rem; */
        /* width: 750px; */
        margin-top: 5.2rem;
        width: 68%;
    }
    .carrito-acciones-derecha{
        flex-direction: column;
    }
    .carrito-acciones-total{
        border-radius: 20px;
        margin-bottom: 15px;
    }
    .carrito-acciones-comprar{
        border-radius: 20px;
    }
}
@media screen and(max-width: 396px) {
    .carrito-acciones-derecha{
        flex-direction: column;
    }
}

/*
@media screen and(min-width: 320px) {
    .header-medias_queries, .header-medias_queries-carrito .logo{

        color: var(--tittle-color);
        height: var(--header-height);
        

    }

    .open-menu-productos, .close-menu-productos{

        background-color: transparent;
        color: var(--text-color);
        border: 0px;
        cursor: pointer;
        font-size: 2.5rem;
        
    }

    .close-menu-productos{
        margin-top: 2rem;
        display: block;
    }

    .carrito-producto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        background-color: var(--container-color);
        color: var(--tittle-color);
        padding: 1rem;
        /* margin-left: -1rem; */
       /* padding-right: 0.5rem;
        border-radius: 1rem;
    }
    
    .main_carrito {
        background-color: var(--clr-main);
        margin: 0 1rem;
        border-radius: 2rem;
        padding: 2rem 1rem;
        margin-left: -16rem;
        position: relative;
        /* right: -15.5rem; */
        /* top: -63px; */
       /* width: max-content;
        margin-top: -4rem;
    }
    .carrito-producto-subtotal{

       display: none;
    }
    .carrito-producto{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }
    .carrito-acciones{

        flex-wrap: wrap;
        row-gap: 1rem;
    }

    
}*/

