*{
    margin: 0%;
    padding: 0%;
}

.container-form{
   /* background: radial-gradient(circle, #ffcccc, #ff9999);*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    border-radius: 10px;
    background-color: var(--container-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 41vw;
    height: 78vh;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entrada{
    margin-bottom: 2vh;
}



.select {
        margin-top: 10px;
        box-shadow: none;
        background-color: var(--container-color);
        position: relative;
        display: flex;
        width: 12em;
        height: 3em;
        line-height: 3;
        appearance: none;
        overflow: hidden;
        border-radius: 5px;
    }
select {
        flex: 1;
        padding: 0 0.5em;
        cursor: pointer;
        font-size: var(--normal-font-size);
        font-family: var(--body-font);
    }
label{
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

button {
    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ff9999;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6666;
}

.volver:hover {
    background-color: #ff6666;

}

.modificar{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: var(--first-color);/* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    /*font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

@media screen and (max-width:768px){
    
        form {
            border-radius: 10px;
        background-color: var(--container-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 69vw;
        height: 97vh;
        border-radius: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    label{
        font-size: 3vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    }

    a{
        
        text-decoration: none;
        color: black;
        
    }

    .modificar{
        color: #f2f2f2;
        margin-right: 2vh;
        background-color: var(--first-color);
        color: white;
        padding: 0.5vw 3vh;
        border: none;
        border-radius: 2vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
}
    button:hover {
        background-color: #ff6666;
    }

    .volver:hover {
        background-color: #ff6666;

    }

    button {
       
        font-size: 2.1vw;
       
    }
}

@media screen and (max-width:425px){
    form {
        border-radius: 10px;
        background-color: var(--container-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 86vw;
        height: 64vh;
        border-radius: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    label{
        font-size: 4vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    }

    a{
        
        text-decoration: none;
        color: black;
        
    }

    .modificar{
        color: #f2f2f2;
        margin-right: 2vh;
        background-color: var(--first-color);
        color: white;
        padding: 0.5vw 3vh;
        border: none;
        border-radius: 2vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
    }

    button {
        
        font-size: 3.1vw;
    
}

.container-form {
    /* background: radial-gradient(circle, #ffcccc, #ff9999); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -5rem;

    
}

select {
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}


}


@media screen and (max-width:320px){
    form {
        border-radius: 10px;
    background-color: var(--container-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 69vw;
    height: 70vh;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

label{
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

a{
    
    text-decoration: none;
    color: black;
    
}
.modificar{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: var(--first-color);
    color: white;
    padding: 0.5vw 3vh;
    border: none;
    border-radius: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

select {
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

}
