*{
    margin: 0%;
    padding: 0%;
}

.container-form-edit{
   /* background: radial-gradient(circle, #ffcccc, #ff9999);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem;
    
}

form{
    border-radius: 10px;
    background-color: var(--container-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 80%;
    padding: 25px 0px;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.entrada{
    margin-bottom: 2vh;
}



.select {
        margin-top: 10px;
        box-shadow: none;
        background-color: var(--container-color);
        position: relative;
        display: flex;
        width: 12em;
        height: 3em;
        line-height: 3;
        appearance: none;
        overflow: hidden;
        border-radius: 5px;
    }
select {
        flex: 1;
        padding: 0 0.5em;
        cursor: pointer;
        font-size: var(--normal-font-size);
        font-family: var(--body-font);
    }
.select{
    width: 17rem !important;
}
label{
    font-size: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
}

.btn{
    margin: 5px;
    text-align: center;
}

button {
    padding: 0.2vw 0.3vh;
    font-size: 1.6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ff9999;
    color: #ffffff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6666;
}

.volver:hover {
    background-color: #ff6666;

}

.modificar{
    color: #f2f2f2;
    margin-right: 2vh;
    background-color: var(--first-color);/* Color de fondo */
    color: white; /* Color del texto */
    padding: 0.5vw 3vh; /* Relleno interno */
    border: none; /* Quita el borde */
    border-radius: 2vw; /* Borde redondeado */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    display: inline-block; /* Mostrar como bloque en línea */
    /*font-size: 1vw; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

@media screen and (max-width:768px){
    
    form {
    width: 79vw;
    }

    label{
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    }

}

@media screen and (max-width:425px){
    form {
        width: 86vw;

    }
    .inputBox{
        width: 80%;
    }
    label{
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    }
    .select{
        width: 100% !important;
    }
    a{
        
        text-decoration: none;
        color: black;
        
    }

    .container-form {
        /* background: radial-gradient(circle, #ffcccc, #ff9999); */
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -5rem;

        
    }


}


