<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Vet-Pet</title>
</head>
<body>
    <section class="section-nos">
        <div class="section-nosotros">
            <h1 class="heading">Sobre nosotros</h1>
            <p class="text">Desde 2012, <b>Vet-Pet</b> ha sido un pilar en la comunidad, brindando atención veterinaria excepcional y productos de calidad que han mejorado la vida de innumerables mascotas y sus familias. Nuestra larga trayectoria y nuestro compromiso con la excelencia nos convierten en tu opción confiable para todas las necesidades de salud y bienestar de tus queridos animales.</p>
        </div>
        <div class="container-nosotros">
            <section class="about">
                <div class="about-img">
                    <img src="{{ url_for('static', filename='img/nosotros-img.jpg') }}" alt="">
                </div>
                <div class="about-content">
                    <h1 class="heading">Contáctanos</h1>
                    <p class="text">Tu comodidad y tranquilidad son nuestra prioridad. Por eso, estamos aquí para responder a cualquier pregunta o inquietud que puedas tener. No dudes en ponerte en contacto con nosotros a través de nuestro formulario en línea o por teléfono, y te responderemos con prontitud y profesionalismo. Tu confianza significa todo para nosotros, y estamos aquí para brindarte el mejor servicio posible en todo momento.</p>
                    <a href="#contacto" class="ir-contacto">Contactanos aqui.</a>
                </div>
            </section>
        </div>
    </section>
</body>
</html>