<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios Veterinarios</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  
  <!-- Enlace de iconos -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  
  <!-- Estilos principales -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_carrusel2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <header class="header" id="header">
    <nav class="nav container">
        <a href="{{ url_for('index') }}" class="nav__logo">Vet-Pet</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="{{ url_for('index') }}" class="nav__link">
                        <i class='bx bx-home nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('contacto') }}" class="nav__link">
                        <i class='bx bx-envelope nav__icon'></i>
                        <span class="nav__name">Contacto</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('index_producto_y_servicio') }}" class="nav__link">
                        <i class="bx bx-cart nav__icon"></i>
                        <span class="nav__name">Productos</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('servicios2') }}" class="nav__link">
                        <i class='bx bxl-baidu nav__icon'></i>
                        <span class="nav__name">Servicios</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('tabla_productos') }}" class="nav__link">
                        <i class='bx bx-edit nav__icon'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <img src="{{ url_for('static', filename='img/pet-house.png') }}" alt="" class="nav__img">
    </nav>
</header>

  <section class="section section-higth mb-5 pt-2" id="servicios">
    <div id="veterinaryServicesCarousel" class="carousel slide mx-auto" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Clínica"></button>
        <button type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide-to="1" aria-label="Radiología"></button>
        <button type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide-to="2" aria-label="Diagnóstico por Imágenes"></button>
        <button type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide-to="3" aria-label="Internación"></button>
        <button type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide-to="4" aria-label="Cardiología"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/img/carrusel/clinica.jpg" class="d-block w-100" alt="Clínica">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="heading">Clínica</h2>
            <p class="text">Ofrecemos atención médica completa para gatos y perros, asegurando su bienestar y salud.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/carrusel/radiologia.jpg') }}" class="d-block w-100" alt="Radiología">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="heading">Radiología</h2>
            <p class="text">Nuestro servicio de radiología permite diagnósticos precisos para tratamientos efectivos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/carrusel/eco-diagnostico.jpg') }}" class="d-block w-100" alt="Diagnóstico por Imágenes">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="heading">Diagnóstico por Imágenes</h2>
            <p class="text">Utilizamos tecnología avanzada para obtener imágenes detalladas del estado de salud de tu mascota.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/carrusel/internacion.jpg') }}" class="d-block w-100" alt="Internación">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="heading">Internación</h2>
            <p class="text">Contamos con instalaciones cómodas y seguras para la internación de gatos y perros en recuperación.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/carrusel/cardiologia.jpg') }}" class="d-block w-100" alt="Cardiología">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="heading">Cardiología</h2>
            <p class="text">Ofrecemos diagnósticos y tratamientos especializados para problemas cardíacos en mascotas.</p>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#veterinaryServicesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </section>

  <!-- Bootstrap JS Bundle con Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Scripts personalizados -->

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
