<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_producto.css">
    <link rel="stylesheet" href="../css/tabla_productos.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>
            <div class="container-form">
                <form>
                    <div class="entrada">
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>
            
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="precio">Precio:</label>
                        <input type="number" name="precio" id="precio">
                    </div>

                    <div class="entrada">
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" id="stock">
                    </div>

                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    <div class="entrada">
                        <p class="text">Elija categoria</p>
                        <div class="select">
                            <select name="categoria" id="categoria">
                                <option value="" selected disable>Elija categoria</option>
                                <option value="alimentos">Alimento</option>
                                <option value="laboratorio">Laboratorio</option>
                                <option value="articulos_varios">Articulos varios</option>
                            </select>
                        </div>
                    </div>

                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                    <a href="tabla_productos.html" class="modificar" type="button" >Volver</a>
                </form>
            </div>

            <div class="container-popup">
                <div class="popup" id="popup">
                    <img src="../img/checkmark.png" id="popup-img" alt="">
                    <h1 class="popup-title"></h1>
                    <p class="popup-message"></p>
                    <button type="button" id="btnPopup" onclick="closePopup()">OK</button>
                </div>
            </div>
        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_producto.js"></script>
    <script src="../js/datos_editar.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>