<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/ingresar_producto.css">
    <link rel="stylesheet" href="../css/tabla_productos.css">
    <link rel="stylesheet" href="../css/style.css">


    <title>Registrar</title>
</head>

<body>


    <main class="">

        <section id="dashboard" class="">
            <div class="container-form-edit">

                <form action=""class="">
                    <div class="inputBox">
                        <label for="nombre" >Nombre:</label>
                        <input class="name" type="text" name="nombre" id="nombre" placeholder="Ingrese producto">
                    </div>

                    <div class="inputBox">
                        <label for="precio">Precio:</label>
                        <input type="number" name="precio" id="precio" placeholder="Ingrese precio">
                    </div>

                    <div class="inputBox">
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" id="stock" placeholder="Ingrese stock">
                    </div>

                    <div class="inputBox">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen" placeholder="Ingrese url de imagen">
                    </div>

                    <div class="inputBox">
                        <label for="categoria">Elija categoria</label>

                        <div class="select">

                            <select name="categoria" id="categoria">
                                <option value="" selected disable>Elija categoria</option>
                                <option value="alimentos">Alimento</option>
                                <option value="laboratorio">Laboratorio</option>
                                <option value="articulos_varios">Articulos varios</option>
                            </select>
                        </div>
                    </div>

                    <div class="inputBox">
                        <button class="btn" type="button" onclick="guardar()">Guardar</button>
                        <a href="tabla_productos.html" class="btn" type="button" >Volver</a>
                    </div>

                    <div class="container-popup">
                        <div class="popup" id="popup">
                            <img src="../img/checkmark.png" id="popup-img" alt="">
                            <h1 class="popup-title"></h1>
                            <p class="popup-message"></p>
                            <button type="button" id="btnPopup" onclick="closePopup()">OK</button>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="../js/ingresar_producto.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>