<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/tabla_productos.css">
    <title>Document</title>
</head>
<body>

    

    <main>

        <section class="container-productos container section section__height" id="dashboard">
            <div id="app" >

                <!-- Botón Nuevo -->
                <div class="table_header">
                    <p>Producto detalles</p>
                    <div>
                        <a class="add_new" href="ingresar_producto.html">+ Agregar producto</a>
                    </div>
                </div>

                <section v-if="error">Lo sentimos se produjo un error</section>
                <section v-else>
                    <section v-if="cargando">
                        <p>Cargando .....</p>
                    </section>
                    <section v-else>
                        <div class="table" >
                            <div class="table_section">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Categoria</th>
                                            <th>Imagen</th>
                                            <th>Acciones</th>>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="producto in productos">
                                            <td>{{producto.id}}</td>
                                            <td>{{producto.nombre}}</td>
                                            <td>{{producto.precio}}</td>
                                            <td>{{producto.stock}}</td>
                                            <td>{{producto.categoria}}</td>
                                            <td>
                                                <img :src="producto.imagen" alt="">
                                            </td>
                                            <td>
                                                <a class="boton-delete" onclick="openPopup()"><i class='bx bx-trash'></i></a>
                                                <!-- <a class="boton-delete" v-on:click="eliminar(producto.id)"><i class='bx bx-trash'></i></a> -->
                                                <a class="boton-edit" :href="'editar_producto.html?id='+ producto.id+'&nombre=' +producto.nombre+ '&precio='+producto.precio+'&stock='+producto.stock + '&imagen='+producto.imagen +  '&categoria='+producto.categoria"><i class='bx bx-edit'></i></a>
                                                <div class="container-popup">
                                                    <div class="popup" id="popup">
                                                        <img src="../img/checkmark.png" id="popup-img" alt="">
                                                        <h1 class="popup-title">1</h1>
                                                        <p class="popup-message">2</p>
                                                        <button type="button" id="btnPopup" onclick="closePopup()">OK</button>
                                                        <a class="boton-delete" @click="eliminar(producto.id)"><i class='bx bx-trash'></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                            <!-- <div class="container-popup">
                                <div class="popup" id="popup">
                                    <img src="../img/checkmark.png" id="popup-img" alt="">
                                    <h1 class="popup-title">1</h1>
                                    <p class="popup-message">2</p>
                                    <button type="button" id="btnPopup" onclick="closePopup()">OK</button>
                                    <a class="boton-delete" @click="eliminar(producto.id)"><i class='bx bx-trash'></i></a>
                                </div>
                            </div> -->

                    
                </section>

            </div>
        </section>
    </main>

    <footer></footer>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/tabla_productos.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>